player-connection-mode=Listen
player-connection-guid=971541649
player-connection-debug=0
player-connection-project-name=Journey of a Lost Fox
player-connection-ip=26.146.246.194
player-connection-ip=192.168.1.107
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=8b691fc2a2dd4f91a6212560fa98f123
